<div id="job-view-container" class="container">
    <div class="row text-center">
        <div id="img-container" class="col-md-12">
            <img src="/img/logo.png" alt="Company">
        </div>
        <div class="col-md-12">
            <h1 class="main-color">{{job.dataValues.title}}</h1>
            <p class="bold">Procura-se uma pessoa para realizar o serviço:</p>
            <p class="job-desc">{{job.dataValues.description}}</p>
            <p><span class="bold">O valor informado é de: </span>{{job.dataValues.salary}}</p>
            <br>
            <p>
                Para realizar o serviço: <span class="bold main-color">{{job.dataValues.title}}</span> <br/>
                envie um email para <a href="mailto:{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
            <button class="btn btn-secondary" onclick="window.history.back();">Voltar</button>
        </div>
    </div>
</div>